<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset = "ISO-8859-1">
    <title>Calendar Data</title>
</head>

<body>

<h1>Events : </h1>
<table id="eventList">
    <thead>
    <tr>
        <th> Start Time </th>
        <th> End Time </th>
        <th> Description </th>
        <th> Location </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="event : ${events}">

        <td th:text="${event.start}"></td>
        <td th:text="${event.end}"></td>
        <td th:text="${event.description}"></td>
        <td th:text="${event.location}"></td>
    </tr>
    </tbody>
</table>

<h1>Available Time Slot : </h1>
<table id="avialableSlot">
    <thead>
    <tr>
        <th> Time Slot </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="slot : ${availableSlot}">
        <td th:text="${slot}"></td>
    </tr>
    </tbody>
</table>


</body>

</html>